.lang-select-button:hover {
  transition: .5s;
}

.lang-select-button:hover {
  transform: scale(1.2);
}

::ng-deep .menu-items {
  background: black;
  margin-top: .5rem;

  .lang-item {
    color: white;
  }
}

.lang-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

img {
  height: 2rem;
  width: 2rem;
  margin: 0 .5rem;
}
