body {
  color: rgba(255, 255, 255, 0.7);
  margin: 1.5rem;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sidenav_menu {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  top: 100px;
  left: 30px;
  z-index: 100;
  transition: 1s;
  font-size: 1.1rem;

  &_label {
    display: inline-block;
    cursor: pointer;
    pointer-events: all;
  }

  &_item {
    position: relative;
    display: inline-block;
    margin-right: 30px;
    top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease, top 0.5s ease;
    transition-delay: 0;

    a {
      transition: color 1s ease;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.8);
    }
  }

  &_item:hover a {
    color: #ff0000;
  }

  &_item:nth-child(1) {
    transition-delay: 0.45s;
  }

  &_item:nth-child(2) {
    transition-delay: 0.4s;
  }

  &_item:nth-child(3) {
    transition-delay: 0.35s;
  }

  &_item:nth-child(4) {
    transition-delay: 0.3s;
  }

  &_item:nth-child(5) {
    transition-delay: 0.25s;
  }

  &_item:nth-child(6) {
    transition-delay: 0.2s;
  }

  &_item:nth-child(7) {
    transition-delay: 0.15s;
  }

  &_item:nth-child(8) {
    transition-delay: 0.1s;
  }

  &_item:nth-child(9) {
    transition-delay: 0.05s;
  }

  &_item:nth-child(10) {
    transition-delay: 0s;
  }
}

.sidenav_menu:hover {
  pointer-events: all;
  transform: scale(1.2);
  transition: 1s;
}


.sidenav_menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}

.sidenav_menu:hover .sidenav_menu_item {
  opacity: 1;
  top: 0px;
}


.sidenav_menu:hover .sidenav_menu_item:nth-child(1) {
  transition-delay: 0.25s;
}

.sidenav_menu:hover .sidenav_menu_item:nth-child(2) {
  transition-delay: 0.3s;
}

.sidenav_menu:hover .sidenav_menu_item:nth-child(3) {
  transition-delay: 0.35s;
}

.sidenav_menu:hover .sidenav_menu_item:nth-child(4) {
  transition-delay: 0.4s;
}

.sidenav_menu:hover .sidenav_menu_item:nth-child(5) {
  transition-delay: 0.45s;
}

.sidenav_menu:hover .sidenav_menu_item:nth-child(6) {
  transition-delay: 0.5s;
}

.sidenav_menu:hover .sidenav_menu_item:nth-child(7) {
  transition-delay: 0.55s;
}

.sidenav_menu:hover .sidenav_menu_item:nth-child(8) {
  transition-delay: 0.6s;
}

.sidenav_menu:hover .sidenav_menu_item:nth-child(9) {
  transition-delay: 0.65s;
}

.sidenav_menu:hover .sidenav_menu_item:nth-child(10) {
  transition-delay: 0.7s;
}
