@import url('https://fonts.googleapis.com/css?family=Lato');

body {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Lato', sans-serif;
  margin: 20px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.sidenav-menu {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.8);
  display: flex;
  flex-direction: column;
  cursor: pointer;
  pointer-events: none;
  position: absolute;
  top: 100px;
  left: 20px;
  z-index: 100;
  transition: 1s;
}

.sidenav-menu:hover {
  pointer-events: all;
  transform: scale(1.2);
  transition: 1s;
}

.sidenav-label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
}

.menu-item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}

span {
  transition: color 1s ease;
}

.menu-item:hover span {
  color: #ff0000;
}

.sidenav-menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}

.sidenav-menu:hover .menu-item {
  opacity: 1;
  top: 0px;
}

.menu-item:nth-child(1) {
  transition-delay: 0.45s;
}

.menu-item:nth-child(2) {
  transition-delay: 0.4s;
}

.menu-item:nth-child(3) {
  transition-delay: 0.35s;
}

.menu-item:nth-child(4) {
  transition-delay: 0.3s;
}

.menu-item:nth-child(5) {
  transition-delay: 0.25s;
}

.menu-item:nth-child(6) {
  transition-delay: 0.2s;
}

.menu-item:nth-child(7) {
  transition-delay: 0.15s;
}

.menu-item:nth-child(8) {
  transition-delay: 0.1s;
}

.menu-item:nth-child(9) {
  transition-delay: 0.05s;
}

.menu-item:nth-child(10) {
  transition-delay: 0s;
}

.sidenav-menu:hover .menu-item:nth-child(1) {
  transition-delay: 0.25s;
}

.sidenav-menu:hover .menu-item:nth-child(2) {
  transition-delay: 0.3s;
}

.sidenav-menu:hover .menu-item:nth-child(3) {
  transition-delay: 0.35s;
}

.sidenav-menu:hover .menu-item:nth-child(4) {
  transition-delay: 0.4s;
}

.sidenav-menu:hover .menu-item:nth-child(5) {
  transition-delay: 0.45s;
}

.sidenav-menu:hover .menu-item:nth-child(6) {
  transition-delay: 0.5s;
}

.sidenav-menu:hover .menu-item:nth-child(7) {
  transition-delay: 0.55s;
}

.sidenav-menu:hover .menu-item:nth-child(8) {
  transition-delay: 0.6s;
}

.sidenav-menu:hover .menu-item:nth-child(9) {
  transition-delay: 0.65s;
}

.sidenav-menu:hover .menu-item:nth-child(10) {
  transition-delay: 0.7s;
}
