<div class="main_page_wrapper">
  <div class="main_page_wrapper_content">

    <fw-profile-selection></fw-profile-selection>
    <!-- Animation -->
    <div class="wave_wrapper wave_animation">
      <div class="wave_wrapper_inner bg-top">
        <div class="wave wave-top">
        </div>
      </div>
      <div class="wave_wrapper_inner bg-middle">
        <div class="wave wave-middle">
        </div>
      </div>
      <div class="wave_wrapper_inner bg-bottom">
        <div class="wave wave-bottom">
        </div>
      </div>
      <fw-sidenav></fw-sidenav>
    </div>
    <!-- Animation -->
  </div>
</div>
