<div class="modal_container" mat-dialog-content>
  <form
    [formGroup]="profileForm"
    (ngSubmit)="login()"
    class="modal_container_contant"
  >
    <mat-form-field appearance="outline" class="full-width transparent-input">
      <mat-label>{{ "modal.email" | translate }}</mat-label>
      <input
        matInput
        formControlName="email"
        type="email"
        placeholder="E-mail"
        autocomplete="email"
      />
      <mat-icon matSuffix>mail_outline</mat-icon>

      <mat-error *ngIf="f['email'].hasError('required')">
        {{ "modal.erequired" | translate }}
      </mat-error>
      <mat-error *ngIf="f['email'].hasError('email')">
        {{ "modal.valid" | translate }}
      </mat-error>
      <mat-error *ngIf="f['email'].hasError('minlength')">
        {{ "modal.emin" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width transparent-input">
      <mat-label>{{ "modal.password" | translate }}</mat-label>
      <input
        matInput
        formControlName="password"
        type="password"
        placeholder="Password"
        autocomplete="current-password"
      />
      <mat-icon matSuffix>lock_outline</mat-icon>

      <mat-error *ngIf="f['password'].hasError('required')">
        {{ "modal.prequired" | translate }}
      </mat-error>
      <mat-error *ngIf="f['password'].hasError('minlength')">
        {{ "modal.pmin" | translate }}
      </mat-error>
      <mat-error *ngIf="f['password'].hasError('maxlength')">
        {{ "modal.pmax" | translate }}
      </mat-error>
    </mat-form-field>

    <div class="buttons_container" mat-dialog-actions>
      <button
        mat-raised-button
        color="primary"
        class="buttons_container_login"
        type="submit"
        [disabled]="profileForm.invalid || isSubmitting"
      >
        <span *ngIf="!isSubmitting">{{ "modal.login" | translate }}</span>
        <mat-spinner
          *ngIf="isSubmitting"
          diameter="24"
          strokeWidth="2"
        ></mat-spinner>
      </button>

      <button
        mat-button
        class="buttons_container_cansel"
        (click)="closeModal()"
        [disabled]="isSubmitting"
      >
        {{ "modal.cancel" | translate }}
      </button>
    </div>
  </form>
</div>
