.modal_container {
  display: flex;
  padding: 1em;
  font-size: 2em;
  text-align: center;
  width: 45vw;
  height: 35vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500000;
  border-radius: 25px;



  &_contant {
    color: #fff;
    font-size: 1rem;
    margin: auto;
    height: 75%;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    .modal_email,
    .modal_password {
      padding: .3rem;
      border: 1px solid white;
      border-radius: 5px;
    }

    .buttons_container {
      display: flex;
      align-items: center;
      justify-content: center;

      &_login,
      &_cansel {
        background: inherit;
        color: white;
        border: 2px solid white;
        font-size: 0.8rem;
        min-width: 8vw;
        margin: .5rem;
        padding: .5rem .7rem;
        transition: all .3s ease-in-out 0s;
      }

      &_login:hover {
        border: 1px solid #00ff5e;
        color: #00ff5e;
        transform: scale(1.2);
        transition: all .3s ease-in-out 0s;
      }

      &_cansel:hover {
        border: 1px solid #ff0000;
        color: #ff0000;
        transform: scale(1.2);
        transition: all .3s ease-in-out 0s;
      }
    }
  }
}

.alert {
  color: #ff0000;
}

::ng-deep mat-dialog-container,
.mat-dialog-container {
  padding: 0 !important;
}
