.header {
  backdrop-filter: blur(10px);
  background: inherit;
  backdrop-filter: blur(10px);
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  &_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .9rem 1.4rem;

    &_title {
      font-size: 1.3rem;
      font-weight: bold;
      text-transform: uppercase;
      color: #FFFFFF;
    }

    &_title:hover {
      cursor: pointer;
    }

    &_navigation {
      color: #FFF;
      font-size: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &_time {
        margin-right: 1.5rem;
      }

      &_user_role {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}
