.header {
  backdrop-filter: blur(10px);
  background: inherit;
  backdrop-filter: blur(10px);
  opacity: 1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .4rem 1rem;
  }

  .header-title {
    font-size: 1.3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  .header-title:hover {
    cursor: pointer;
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
}
