<header class="header">
  <div class="header_container">
    <div class="header_container_title">
      <span>{{ 'HEADER.WANTED_CRIMINALS' | translate }}</span>
    </div>
    <nav class="header_container_navigation">
      <span class="header_container_navigation_time">{{clock | async}}</span>

      <div class="header_container_navigation_user_role">{{ authService.userData.role | translate  }}</div>
      <fw-language-selection></fw-language-selection>
      <fw-profile-selection></fw-profile-selection>
    </nav>
  </div>
</header>
