<div class="content_page_wrapper">
  <fw-sidenav></fw-sidenav>
  <!-- <table class="mat-elevation-z8" *ngIf="response">
    <thead>
      <th>
        <div *ngIf="response">Total of wanted criminals: {{response.items.length}}</div>
      </th>
    </thead>
    <tbody>
      <td class="flex">
        <fw-criminal-card *ngFor="let items of response.items" [items]="items"></fw-criminal-card>
      </td>
    </tbody>
  </table> -->
  <fw-criminals-table></fw-criminals-table>
  <!-- Разобраться за выходные -->
</div>
