.content_page_wrapper {
  height: 100%;
  background: -webkit-linear-gradient(45deg, #040d2c, #462a8b, #c505d6);
  background: linear-gradient(45deg, #040d2c, #462a8b, #c505d6);
  display: flex;
}

.mat-paginator {
  position: fixed;
  display: flex;
  left: 0;
  bottom: 0;
  background: transparent;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

.mat-paginator-outer-container {
  width: 100vw;
}

table {
  width: 100%;
  margin: auto;
  background: inherit;
}

.flex {
  display: flex;
  margin: auto;
  justify-content: center;
}

th,
td {
  text-align: center;
  margin: 0 1rem;
  width: 100%;
}

.table-wraper {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: inherit;
}

.mat-table {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background: transparent;
}

tr {
  display: flex;
  align-items: center;
  justify-content: space-between;

}
