<div class="login-wrapper">
  <div class="login-main">
    <div class="login-main-content"></div>
  </div>
  <div class="login-form">
    <div class="login-form-content">

      <div class="login-title">wanted criminals</div>

      <mat-form-field appearance="outline">
        <mat-label>Login</mat-label>
        <input  matInput required type="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input  matInput [type]="hide ? 'password' : 'text'" required>
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide">
          <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>

      <div class="login-button">
        <button mat-raised-button color="primary"><span>Login</span></button>
      </div>
    </div>
  </div>
</div>
