@import '../../../styles.scss';

.login-wrapper {
  height: 100vh;
  background: $login-background;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;


  .login-form {
    display: flex;
    padding: 3rem;
    margin: auto;
    border-radius: 0.6rem;
    background: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);

    .login-form-content {
      display: flex;
      flex-direction: column;
      margin: auto;

      @mixin login-input-field {
        padding: 0;
        margin: 0;
        outline: none;
        border: none;
        font: 500 2vh $prime-font;
        width: 30vh;
      }

      .login-title {
        font-family: $prime-font;
        margin-bottom: 1.8vh;
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
      }

      .login-button {
        display: flex;

        button {
          width: 100%;
          margin: 0 auto;
          padding: 0.5rem;
          border-radius: 0.4rem;
          display: inline-block;
          box-sizing: border-box;
          padding: 1px;
          margin: 0 15px 15px 0;
          outline: none;
          border: 1px solid #b13151;
          border-radius: 25px;
          height: 46px;
          line-height: 0;
          font-size: 14px;
          font-weight: 500;
          color: #fff;
          background-color: #fff;
          position: relative;
          overflow: hidden;
          vertical-align: top;
          cursor: pointer;
          user-select: none;
          appearance: none;
          touch-action: manipulation;
        }

        button span {
          display: block;
          box-sizing: border-box;
          padding: 0 25px;
          height: 42px;
          line-height: 38px;
          border: 1px solid #F18230;
          border-radius: 25px;
          font-size: 14px;
          color: #FFFFFF;
          background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #b13151;
          text-align: center;
          font-weight: 600;
        }

        button:focus-visible {
          box-shadow: 0 0 0 3px lightskyblue;
        }

        button:hover span {
          background-color: #fba768
        }

        button:active span {
          background-color: #c17237 !important;
        }

        button:disabled {
          opacity: 0.65;
          pointer-events: none;
        }
      }
    }
  }
}
