@import '../../../../styles.scss';

.person {
  display: flex;
  align-items: center;
  margin: 0 $margin-half 0 1.5rem;

  .person-info {
    display: flex;
    justify-content: space-around;

    .user-photo {
      @include img-profile-size
    }

    .user-photo:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    .profile-menu {
      margin: 0.2rem 0.2rem 0 0.2rem;
    }
  }
}
