//Custom styles
$margin-half: 0.5rem;


//Background
$login-background: linear-gradient(45deg,
  hsl(240deg 100% 20%) 0%,
  hsl(280deg 100% 19%) 34%,
  hsl(305deg 100% 20%) 57%,
  hsl(321deg 100% 25%) 74%,
  hsl(331deg 100% 29%) 84%,
  hsl(339deg 100% 33%) 90%,
  hsl(345deg 100% 35%) 94%,
  hsl(0deg 72% 43%) 100%);
