@use '@angular/material'as mat;
@include mat.core();
$wanted_criminals-primary: mat.define-palette(mat.$indigo-palette);
$wanted_criminals-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
$wanted_criminals-warn: mat.define-palette(mat.$red-palette);
$wanted_criminals-theme: mat.define-light-theme((color: (primary: $wanted_criminals-primary,
      accent: $wanted_criminals-accent,
      warn: $wanted_criminals-warn,
    )));
@include mat.all-component-themes($wanted_criminals-theme);
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import '~normalize.css';
@import "~@angular/material/theming";
@include mat.core();

span,
a,
label,
th,
td {
  font-family: 'Fjalla One',
    sans-serif;
}

.custom-dialog-container .mat-dialog-container {
  padding: 0 !important;
}

$angular-primary: mat.define-palette(mat.$teal-palette, 500, 100, 900);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$angular-warn: mat.define-palette(mat.$red-palette);

$angular-default-theme: mat.define-light-theme((color: (primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  ));

@include mat.all-component-themes($angular-default-theme);

// DarkMode theme
$angular-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $angular-primary,
      accent: $angular-accent,
      warn: $angular-warn,
    ),
  )
);

.darkMode {
  @include mat.all-component-colors($angular-dark-theme);
};

html,
body {
  height: 100%;
}
